{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}


{% block main %}
    <div class="main" style="padding-left: 2em;"> 
    
        {% for data in dataset %}
            
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="{{ data.photo.url }}" alt="Imagem de capa do card">
                    
                <div class="card-body">
                    <h5 class="card-title">{{ data.name }}</h5>
                    <p class="card-text">{{ data.description }}</p>
                    <a href="#" class="btn btn-primary">Ver produto</a>
                </div>
            </div>
    
        {% endfor %} 
    
    </div> 
{% endblock main %}
    