{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}
    

{% block content %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Ativo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Desativado</a>
        </li>
    </ul>
{% endblock content %}