{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}


{% block content %}
    <div class="card-columns">
        {% for product in products %}
            <div class="card border">
                <img class="card-img-top" src="{{ product.photo.url }}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text text-black-50 text-justify">{{ product.description|linebreaksbr }}</p>
                    <p class="card-text"><strong>Categorie: </strong>{{ product.categorie }}</p>
                    <p class="card-text text-black-80">$ {{ product.value }}</p>
                    <a href="{% url 'product:change' product.id %}" class="btn btn-outline-success btn-lg fa fa-edit" title="Change"></a>
                    <a href="{% url 'product:delete' product.id %}" class="btn btn-outline-danger btn-lg fa fa-trash" title="Delete"></a>
                </div>
            </div>
        {% endfor %} 
    </div>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            
            {# Checks if a previous page exists #}
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            
            {# Block for to load all pages  #}
            {% for page in products.paginator.page_range %}

                {# Checks if the number of the current page is the same as the link, #}
                {# highlighting the current page number #}
                {% if products.number == page %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
                
            {# Checks if a next page exists #}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>
{% endblock content %}
    
    