{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    {% block title %} {% endblock title %}
</head>
<body>
    <div class="container-fluid">
        <header>
            <!-- Navbar fixa -->
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top   ">
                <!-- Links -->
                <a class="navbar-brand" href="{% url 'core:index' %}" title="Home">
                    <i class="fa fa-home">   Home</i>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item justify-content-end ">
                        <a class="nav-link" href="{% url 'product:new' %}" title="Add product">
                            <i class="fa fa-plus"> </i>
                        </a>
                    </li>
                </ul>
                <form method="GET" class="form-inline" action="{% url 'core:search' %}">
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-success" type="submit" title="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </nav>
        </header>
    
        <main>
            <div class="content" style="padding-top: 80px; width: 100%; height: 100%;">
                {% block content %} {% endblock content %}
            </div>
        </main>
    </div>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>